<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RS_Course work</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LabVV0rk_1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RS_Course work</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Список таблиц</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Books" asp-action="Index">Книги</a></li>
                                <li><a class="dropdown-item" asp-controller="CatalogCard" asp-action="Index">Каталожные карточки</a></li>
                                <li><a class="dropdown-item" asp-controller="Issues" asp-action="Index">Выдача</a></li>
                                <li><a class="dropdown-item" asp-controller="Bookings" asp-action="Index">Бронь</a></li>
                                <li><a class="dropdown-item" asp-controller="Departments" asp-action="Index">Отделы</a></li> 
                                <li><a class="dropdown-item" asp-controller="Librarians" asp-action="Index">Библиотекари</a></li>
                                <li><a class="dropdown-item" asp-controller="Subscribers" asp-action="Index">Абоненты</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <input class="form-control search-form w-100" type="text" name="search-form" id="search-form" placeholder="Поиск" aria-label="Search">
                <div class="navbar-nav">
                    <partial name="_LoginPartial" class="nav-log-reg">
                </div>
                <section class="dop-canvas">
                    <a class="dopsets" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        <span class="ds-lines"></span>
                        <span class="ds-lines"></span>
                        <span class="ds-lines"></span>
                    </a>
                    @*<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Вне холста</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div>
                                Какой-то текст в качестве заполнителя. В реальной жизни у вас могут быть элементы, которые Вы выбрали. Нравится, текст, изображения, списки и т. д.
                            </div>
                            <div class="dropdown mt-3">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                    Кнопка раскрывающегося списка
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Действие</a></li>
                                    <li><a class="dropdown-item" href="#">Другое действие</a></li>
                                    <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                </section>
            </div>    
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="ft-container">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col mb-3">
                    @*<a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
                    </a>*@
                    <p class="text-muted">Курсовая работа</p>
                    <p class="text-muted">Тема - "Библиотека"</p>
                    <p class="text-muted">&copy; 2023</p>
                </div>

                <div class="col mb-3"></div>

                <div class="col mb-3">
                    <h5 class="ft-container-header">Секция</h5>
                    <p class="ft-p"><a class="ft-container-content" asp-controller="Departments" asp-action="Index">Категории</a></p>
                    <p class="ft-p"><a class="ft-container-content" asp-controller="CatalogCard" asp-action="Index">Все книги</a></p>
                </div>

                <div class="col mb-3">
                    <h5 class="ft-container-header">Коротко о нас</h5>
                    <p class="ft-container-content">Ответы на вопросы</p>
                    <p class="ft-container-content">Создатели</p>
                    <p class="ft-container-content">Навигация</p>
                </div>
                <div class="col mb-3">
                    <h5 class="ft-container-header">Сообщество</h5>
                    <p class="ft-container-content">Поддержка проекта</p>
                    <p class="ft-container-content">Новости</p>
                    <p class="ft-container-content">Форум</p>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
